<ul>
  <%= render partial: 'pages/partials/links' %>
</ul>

<main>
    <h1>Олег Петров</h1>
    <h2>Будущая Rails-звезда! </h2>
    <hr>
    <section>
        <h2>Ключевые навыки:</h2>
        <ul>
            <li>Ruby On Rails</li>
            <li>Ruby</li>
            <li>JavaScript</li>
            <li>Golang</li>
            <li>Proto</li>
            <li>Redis</li>
            <li>Mysql</li>
            <li>Docker</li>
            <li>K8S</li>
        </ul>
    </section>
    <section>
        <h2>Обо мне</h2>
        <p>Я учусь на курсе rails, потому хочу легко и быстро создавать статические и динамические сайты, </p>
        <p>а не упражняться с фреймворками js </p>
    </section>
</main>

